<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/Winspels/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="ogolikhin" />
            <add key="ClearTextPassword" value="99a3429d854aad8da2186bb0d17ba5d28cf59bbc" />
        </github>
    </packageSourceCredentials>
</configuration>
